.doctor-page {
    margin-top: 4rem;
    padding: 20px;
    background-image: linear-gradient(to right bottom, #99b4dc, #8ec7dd, #9bd5d4, #bae0cb, #dee8ca);
    min-height: 100vh;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.doctor-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.doctor-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.doctor-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.doctor-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.doctor-specialty {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.doctor-rating {
    font-size: 16px;
    color: #ffc107;
    margin-bottom: 10px;
}

.view-profile-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-profile-button:hover {
    background-color: #0056b3;
}
