/* Drawer styling */
.drawer {
  width: 240px;
  flex-shrink: 0;
}


.drawer-paper {
  width: 240px;
  box-sizing: border-box;
  background-color: #f5f5f5; /* Sidebar background color */
}

/* Typography for the sidebar title */
.drawer-title {
  padding: 16px;
  font-weight: bold;
  text-align: center;
  font-family: 'Arial, sans-serif';
  color: #2c3e50;
}

/* ListItem styling */
.list-item-button {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.list-item-button.active {
  background-color: #274472;
  color: #fff;
}

.list-item-button:hover::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: #5885af;
  border-radius: 8px;
  z-index: -1;
  transition: background-color 0.3s ease;
}

.list-item-button:hover {
  color: #fff;
}

.list-item-icon {
  min-width: 40px;
  transition: color 0.3s ease;
}

.list-item-icon.active {
  color: #fff;
}

.list-item-text {
  transition: color 0.3s ease;
}

.list-item-text.active {
  color: #fff;
}



.main-content {
  flex-grow: 1;
  padding: 0; /* Remove padding */
  margin: 0;  /* Remove margin if needed */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  background-color: #dee8ca;
  background-image: linear-gradient(to right bottom, #99b4dc, #8ec7dd, #9bd5d4, #bae0cb, #dee8ca);
}

